<html>
  <head>
    <title>Transportes X</title>
    <link rel="stylesheet" href="/stylesheets/transportes.css" />
    <link rel="stylesheet" href="stylessheets/admin.css" />
  </head>
  <body>
    <header style="text-align: center">
      <div class="holder">
        <div class="logo">
          <img src="/images/logo.png" width="100" alt="transportes x" />
          <h1 style="position: static">Transportes X</h1>
        </div>
      </div>
    </header>
    {{{body}}}
    <footer><p>Derechos Reservados. Transportes X 2024</p></footer>
  </body>
</html>